:root {
  --area: 90px;
}
body {
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

/* CSS FOR THE BOARD */
.chessboard {
  width: calc(var(--area) * 8);
  height: calc(var(--area) * 8);
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  border: 1px solid black;
}
.number-coordinate {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translate(0, -50%);
}

.letter-coordinate {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  bottom: -40px;
  transform: translate(-50%, 0);
}

.chess-piece {
  width: 80%;
  height: 80%;
}

.square {
  width: 100%;
  height: 100%;
}

.square:nth-child(odd) {
  background-color: beige;
}

.square:nth-child(even) {
  background-color: black;
}

.square:nth-child(n + 9):nth-child(even) {
  background-color: beige;
}
.square:nth-child(n + 9):nth-child(odd) {
  background-color: black;
}

.square:nth-child(n + 17):nth-child(odd) {
  background-color: beige;
}
.square:nth-child(n + 17):nth-child(even) {
  background-color: black;
}

.square:nth-child(n + 25):nth-child(even) {
  background-color: beige;
}
.square:nth-child(n + 25):nth-child(odd) {
  background-color: black;
}

.square:nth-child(n + 33):nth-child(odd) {
  background-color: beige;
}
.square:nth-child(n + 33):nth-child(even) {
  background-color: black;
}

.square:nth-child(n + 41):nth-child(even) {
  background-color: beige;
}
.square:nth-child(n + 41):nth-child(odd) {
  background-color: black;
}

.square:nth-child(n + 49):nth-child(odd) {
  background-color: beige;
}
.square:nth-child(n + 49):nth-child(even) {
  background-color: black;
}

.square:nth-child(n + 57):nth-child(even) {
  background-color: beige;
}
.square:nth-child(n + 57):nth-child(odd) {
  background-color: black;
}
.square:nth-child(8n + 1) {
  position: relative;
}
.square:nth-child(n + 57) {
  position: relative;
}
